.additionalTiles-meKM5 {

}

.gospelLibrary-TG5LM {
	margin-top: var(--spacing24);
	position: relative;
    background-color: var(--background-primary, var(--white));
    flex: 1 1
}

.gospelLibrary-TG5LM .libraryTitle-23T0I {
		font: var(--h1-serif);
		font-size: var(--fontSize18);
		padding-bottom: var(--spacing4);
		display: block;
		width: 100%;
		border-bottom: 1px solid var(--border-primary, var(--grey10));
	}

.hero-34b0i {
  margin-bottom: 1rem;
}

.link-1YX7b {
  float: right;
}

.header-2k7Nn {
    padding: 2vh 1vw;
}

.title-3336G,
.subtitle-1iCyt {
    font-weight: normal;
    margin: 0;
}

.subtitle-1iCyt {
    font: normal .95em/1 "serif";
}

.pageTitle-2vDFR {
    font-size: var(--fontSize36);
    line-height: 1.2em;
    font-family: var(--serif);
    display: block;
    text-align: center;
    margin-bottom: var(--spacing24)
}

@media (min-width: 0em) and (max-width: 37.499em) {

.pageTitle-2vDFR {
        font-size: var(--fontSize28)
}
    }

.articleBody-17s0O {
    line-height: 1.4;
}

.narrow-1cp7X {
    margin: var(--spacing60) 5%;
	position: relative
}

@media (min-width: 37.5em){

.narrow-1cp7X {
        margin: var(--spacing60) 18%
}
    }

.full-1CEfI {
    margin: var(--spacing60) 5%;
	position: relative
}

@media (min-width: 60em) {

.full-1CEfI {
        margin: var(--spacing60) 10%
}
    }

.bleed-3I_cM {
    margin: var(--spacing60) 0;
	position: relative;
}

.narrowTop-1T98O {
    margin: var(--spacing20) 5% var(--spacing60) 5%;
	position: relative
}

@media (min-width: 60em) {

.narrowTop-1T98O {
        margin: var(--spacing20) auto var(--spacing60);
        max-width: 960px
}
    }

.narrowReader-3kDAO {
	padding: 0 2rem var(--spacing64);
	position: relative
}

@media (min-width: 46em) {

.narrowReader-3kDAO {
        padding: 0 4rem var(--spacing16)
}
    }

@media print{

.narrowReader-3kDAO {
        padding: 0
}
    }

@media (min-width: 0em) and (max-width: 24.999em) {
    .full-1CEfI {
        margin: var(--spacing40) 5%;
    }
}

.loading-2e-J5 {
	background: var(--background-primary, var(--white));
	position: absolute;
    left: 50%
}


.loading-2e-J5 .loader-3eRCU {
		margin-top: 100px;
		display: flex;
		align-items: center;
		justify-content: center
	}


.loading-2e-J5 .loader-3eRCU .outerLoader-1t1AG {
			border: 3px solid var(--border-primary, var(--footerGrey));
		    border-top: 3px solid var(--accent, var(--blue20));
			border-radius: 50%;
			position: absolute;
		    width: 4vw;
		    height: 4vw;
		    animation: spin-3iQF5 1.5s linear infinite
		}


@media (min-width: 0em) and (max-width: 37.499em) {


.loading-2e-J5 .loader-3eRCU .outerLoader-1t1AG {
				width: 25vw;
				height: 25vw
		}
			}


.loading-2e-J5 .loader-3eRCU .innerLoader-3HbgL {
		    border: 6px solid var(--border-primary, var(--footerGrey));
		    border-top: 6px solid var(--accent, var(--blue20));
		    border-radius: 50%;
		    width: 8vw;
		    height: 8vw;
		    animation: innerSpin-2lE76 1.4s linear infinite
		}


@media (min-width: 0em) and (max-width: 37.499em) {


.loading-2e-J5 .loader-3eRCU .innerLoader-3HbgL {
				width: 19vw;
				height: 19vw
		}
			}


@keyframes spin-3iQF5 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes innerSpin-2lE76 {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.tileGroup-2FfbK {
    margin-bottom: var(--spacing10);

}

.title-CXvK1 {
    display: block;
    /*font: var(--h3-sans);*/
    font-size: var(--fontSize14);
    text-transform: uppercase;
    margin: var(--spacing60) 0 0
}

@media (min-width: 0em) and (max-width: 37.499em) {

.title-CXvK1 {
        margin-top: var(--spacing16)
}
    }

/* layout */

.tiles-2ak6Y {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile-7WLI6 {
    width: 100%
    /*padding-bottom: var(--spacing20);*/
    /*margin-bottom: var(--spacing24);*/
}

@media (min-width: 37.5em){

.tile-7WLI6 {
        width: 49%
}
    }

@media (min-width: 60em){

.tile-7WLI6 {
        width: 32%
}
    }

@media (min-width: 37.5em){

.twoUp-3-kY1 .tile-7WLI6 {
        width: 49%
        /*padding-bottom: var(--spacing24);*/
        /*margin-bottom: var(--spacing60);*/
}
    }

@media (min-width: 37.5em){

.threeUp-45x6s .tile-7WLI6 {
        width: 32%
        /*padding-bottom: var(--spacing24);*/
        /*margin-bottom: var(--spacing60);*/
}
    }

.fourUp-28nMf .tile-7WLI6 .mediaContainer-3xwPe {
        height: 20vw;
        border: 1px solid red;

    }

@media (min-width: 37.5em){

.fourUp-28nMf .tile-7WLI6 {
        width: 49%
        /*padding-bottom: var(--spacing24);*/
        /*margin-bottom: var(--spacing60);*/
}
    }

@media (min-width: 60em){

.fourUp-28nMf .tile-7WLI6 {
        width: 24%;
        padding-bottom: var(--spacing24)
        /*margin-bottom: var(--spacing60);*/
}
    }

.oneFeature-3Qt7m .tile-7WLI6 {
    width: 100%;
}

@media (min-width: 37.5em){

.twoFeature-XfCRY .tile-7WLI6 {
        width: 49%
}
    }

@media (min-width: 60em){

.twoFeature-XfCRY .tile-7WLI6 {
        width: 24%
}
    }

.twoFeature-XfCRY .tile-7WLI6:first-child, .twoFeature-XfCRY .tile-7WLI6:nth-child(2){

    width: 100%
}

@media (min-width: 60em){

.twoFeature-XfCRY .tile-7WLI6:first-child, .twoFeature-XfCRY .tile-7WLI6:nth-child(2){
        width: 49%
}
    }

.threeFeature-LmTci {
    margin-bottom: var(--spacing10)
}

.threeFeature-LmTci .tile-7WLI6 {
        width: 100%;
        height: 50vw;
        margin-bottom: 2%;
        padding-bottom: 0;
        border: none;
    }

.threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
        height: 16.25vw
    }

.threeFeature-LmTci .tile-7WLI6:nth-child(2) > .imageContainer-HucpP, .threeFeature-LmTci .tile-7WLI6:nth-child(3) > .imageContainer-HucpP {
            height: 100%;
        }

@media (min-width: 37.5em){
        .threeFeature-LmTci .tile-7WLI6 {
            width: 49%;
            /*height: 33vw;*/
        }
        .threeFeature-LmTci .tile-7WLI6:first-child {
            width: 100%;
            margin-bottom: 1vw;
        }
        .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
            width: 49.5%;
            /*height: 33vw;*/
        }
    }

@media (min-width: 60em){

.threeFeature-LmTci {
        position: relative
}
        .threeFeature-LmTci .tile-7WLI6 {
            width: 24.3%;
        }
        .threeFeature-LmTci .tile-7WLI6:first-child {
            width: 62.5%;
            margin-right: .5%;
            margin-bottom: 0;
        }
        .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
            width: 37%;
            height: 16.25vw;
            margin-bottom: 0;
        }
        .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

_:-moz-any-link .tile-7WLI6:nth-child(2), _:-moz-any-link .tile-7WLI6:nth-child(3), :root .threeFeature-LmTci .tile-7WLI6:nth-child(2), :root .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
        height: 16vw;
    }

@supports ((display: grid) and (grid-template-areas: "a b c")) {
    /* undo what was done above */
    .tiles-2ak6Y {
        display: block;
    }

    .tile-7WLI6 {
        width: 100%
    }

        @media (min-width: 37.5em){

    .tile-7WLI6 {
            width: 100%
    }
        }

        @media (min-width: 60em){

    .tile-7WLI6 {
            width: 100%
    }
        }
        @media (min-width: 37.5em){

    .twoUp-3-kY1 .tile-7WLI6 {
            width: 100%
    }
        }
        .fourUp-28nMf .tile-7WLI6 .mediaContainer-3xwPe {
            height: 19vw;
        }
        @media (min-width: 37.5em){

    .fourUp-28nMf .tile-7WLI6 {
            width: 100%
    }
        }
        @media (min-width: 60em){

    .fourUp-28nMf .tile-7WLI6 {
            width: 100%
    }
        }
        @media (min-width: 37.5em){

    .twoFeature-XfCRY .tile-7WLI6 {
            width: 100%
    }
        }
        @media (min-width: 60em){

    .twoFeature-XfCRY .tile-7WLI6 {
            width: 100%
    }
        }

    .twoFeature-XfCRY .tile-7WLI6:first-child, .twoFeature-XfCRY .tile-7WLI6:nth-child(2){

        width: 100%
    }

        @media (min-width: 60em){

    .twoFeature-XfCRY .tile-7WLI6:first-child, .twoFeature-XfCRY .tile-7WLI6:nth-child(2){
            width: 100%
    }
        }


        .threeFeature-LmTci .tile-7WLI6 {
            width: 100%;
        }
        .threeFeature-LmTci .tile-7WLI6:first-child {
            margin-bottom: 0;
            /*height: 33vw;*/
        }
        .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
            margin-bottom: 0;
        }

        @media (min-width: 37.5em){
            .threeFeature-LmTci .tile-7WLI6 {
                width: 100%;
            }
            .threeFeature-LmTci .tile-7WLI6:first-child {
                width: 100%;
            }
            .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
                width: 100%;
            }
        }
        @media (min-width: 60em){

    .threeFeature-LmTci {
            position: static
    }
            .threeFeature-LmTci .tile-7WLI6 {
                width: 100%;
            }
            .threeFeature-LmTci .tile-7WLI6:first-child {
                width: 100%;
                /*height: auto;*/
                margin-bottom: 0;
            }
            .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
                width: 100%;
                /*height: auto;*/
            }
            .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
                position: relative;
                right: 0;
                top: 0;
            }
        }

    /* now lay it out on the grid */
    .tiles-2ak6Y {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: var(--spacing10)
    }

        @media (min-width: 37.5em){
    .tiles-2ak6Y {
            grid-template-columns: repeat(2, 1fr)
    }
        }

        @media (min-width: 60em){
    .tiles-2ak6Y {
            grid-template-columns: repeat(3, 1fr)
    }
        }

    .twoUp-3-kY1 .tiles-2ak6Y {
        grid-template-columns: 1fr;
    }

        @media (min-width: 37.5em){

    .twoUp-3-kY1 .tiles-2ak6Y {
            grid-template-columns: repeat(2, 1fr);
    }
        }

    .twoUp-3-kY1 .tiles-2ak6Y {
        grid-template-columns: repeat(2, 1fr);
    }

    .threeUp-45x6s .tiles-2ak6Y {
        grid-template-columns: 1fr;
    }

        @media (min-width: 37.5em){

    .threeUp-45x6s .tiles-2ak6Y {
            grid-template-columns: repeat(3, 1fr);
    }
        }

    .threeUp-45x6s .tiles-2ak6Y {
        grid-template-columns: repeat(3, 1fr);
    }

    .fourUp-28nMf .tiles-2ak6Y {
        grid-template-columns: 1fr
    }

        @media (min-width: 37.5em){

    .fourUp-28nMf .tiles-2ak6Y {
            grid-template-columns: repeat(2, 1fr)
    }
        }

        @media (min-width: 60em){

    .fourUp-28nMf .tiles-2ak6Y {
            grid-template-columns: repeat(4, 1fr)
    }
        }

    .tile-7WLI6 {
        width: 100%;
    }

    .twoUp-3-kY1 .tile-7WLI6 {
        width: 100%;
    }

    .threeUp-45x6s .tile-7WLI6 {
        width: 100%;
    }

    .fourUp-28nMf .tile-7WLI6 {
        width: 100%;
    }

    .oneFeature-3Qt7m {

        height: 0;
        position: relative;
        padding-bottom: 37.5% /* 8X3 ratio */
    }

        .oneFeature-3Qt7m .tiles-2ak6Y {
            grid-template-columns: repeat(1, 1fr);
        }

        .oneFeature-3Qt7m .tile-7WLI6 {
            grid-column: span 1;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .twoFeature-XfCRY .tiles-2ak6Y {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 50vw);
        }
        .twoFeature-XfCRY .tile-7WLI6 {
            grid-column: span 1;
            grid-row: span 1;
        }
        .twoFeature-XfCRY .tile-7WLI6:first-child, .twoFeature-XfCRY .tile-7WLI6:nth-child(2){
            width: 100%;
            grid-column: span 1;
        }
        @media (min-width: 37.5em){
            .twoFeature-XfCRY .tiles-2ak6Y {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 39.5vw);
            }
            .twoFeature-XfCRY .tile-7WLI6 {
                grid-column: span 1;
            }
            .twoFeature-XfCRY .tile-7WLI6:first-child, .twoFeature-XfCRY .tile-7WLI6:nth-child(2){
                width: 100%;
                grid-column: span 1;
            }
        }
        @media (min-width: 60em){
            .twoFeature-XfCRY .tiles-2ak6Y {
                grid-template-rows: repeat(1, 410px);
            }
        }
        .threeFeature-LmTci .tiles-2ak6Y {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 12vw);
        }
        .threeFeature-LmTci .tile-7WLI6 {
            display: block;
            width: 100%;
            grid-column: span 1;
        }
        .threeFeature-LmTci .tile-7WLI6:first-child {
            grid-column: span 2;
            grid-row: span 4;
            height: 100%;
        }
        .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
            grid-column: span 2;
            grid-row: span 3;
            height: 100%
        }

            .threeFeature-LmTci .tile-7WLI6:nth-child(2) > .imageContainer-HucpP, .threeFeature-LmTci .tile-7WLI6:nth-child(3) > .imageContainer-HucpP {
                height: 100%;
            }

            .threeFeature-LmTci .tile-7WLI6:nth-child(2) > .title-CXvK1, .threeFeature-LmTci .tile-7WLI6:nth-child(3) > .title-CXvK1 {
                font-size: var(--fontSize18);
            }

        @media (min-width: 37.5em){
            .threeFeature-LmTci .tiles-2ak6Y {
                grid-template-rows: repeat(5, 15vw);
            }

            .threeFeature-LmTci .tile-7WLI6 {
                grid-column: span 1;
            }
            .threeFeature-LmTci .tile-7WLI6:first-child {
                grid-column: span 2;
                grid-row: span 3;
            }
            .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
                grid-column: span 1;
                grid-row: span 2;
            }
        }
        @media (min-width: 60em){
            .threeFeature-LmTci .tiles-2ak6Y {
                grid-template-rows: repeat(2, 200px);
            }
            .threeFeature-LmTci .tile-7WLI6 {
                grid-column: span 1;
            }
            .threeFeature-LmTci .tile-7WLI6:nth-child(2), .threeFeature-LmTci .tile-7WLI6:nth-child(3) {
                grid-column: span 1;
                grid-row: span 1
            }

                .threeFeature-LmTci .tile-7WLI6:nth-child(2) > .teaser-1beUF, .threeFeature-LmTci .tile-7WLI6:nth-child(3) > .teaser-1beUF {
                    display: none;
                }
            .threeFeature-LmTci .tile-7WLI6:first-child {
                grid-column: span 1;
                grid-row: span 2;
            }
        }
}

.additionalTiles-1AiQn .title-CXvK1 {
        margin: 0;
    }

.additionalTiles-1AiQn > .teaser-1beUF {
        display: none;
    }

.tile-3a2-G {
    display: block;
    color: var(--text-primary, var(--black));
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden
}

.tile-3a2-G:hover {
        text-decoration: none;
        color: var(--text-primary, var(--black));
    }

@media (min-width: 0em) and (max-width: 37.499em) {

.tile-3a2-G {
        padding-bottom: var(--spacing24)
}
    }

@media (min-width: 37.5em) and (max-width: 59.999em) {

.tile-3a2-G {
        padding-bottom: var(--spacing24)
}
    }

.textContainer-3Y7_2 {
    padding: 0 var(--spacing4);
}

.mediaContainer-mLCfR {
    position: relative;
    height: 50vw;
    width: 100%
}

@media (min-width: 37.5em) {

.mediaContainer-mLCfR {
        height: 25vw
}
    }

@media (min-width: 60em) {

.mediaContainer-mLCfR {
        height: 19vw
}
    }

.mediaContainer-mLCfR img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }

@media (min-width: 60em) {

.mediaContainer-mLCfR.square-U06tA {
            height: 0;
            padding-top: 100%
    }

            .mediaContainer-mLCfR.square-U06tA figure, .mediaContainer-mLCfR.square-U06tA .isVideo-2a32b {
                position: absolute;
                top: 0;
            }
        }

.isVideo-2a32b {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%
}

.isVideo-2a32b .videoIcon-3-TIs {
        background: transparent;
        color: var(--white);
        width: var(--spacing40);
        height: var(--spacing40);
        border: 2px solid var(--white);
        border-radius: 50%;
        padding: 2px;
        box-shadow: inset 0px 0px 15px var(--black), 0px 0px 10px var(--black)
    }

.isVideo-2a32b .videoIcon-3-TIs svg {
            filter: drop-shadow(0px 0px 5px var(--black));
            padding-left: 3px;
        }

.title-2dV1O {
    font-family: var(--serif);
    font-size: var(--fontSize18);
    line-height: var(--lineHeightTight);
    color: var(--text-link, var(--blue30));
    font-weight: 500;
    margin: var(--spacing8) 0;
    display: block
}

@media (min-width: 0em) and (max-width: 37.499em) {

.title-2dV1O {
        margin-bottom: var(--spacing10)
}
    }

.teaser-3KPeR {
    font-weight: 300;
    margin: 0;
    font-size: var(--fontSize14);
    line-height: var(--lineHeightLoose);
}

.overlay-3iA3b {
    position: relative;
    padding-bottom: 0
}

.overlay-3iA3b .textContainer-3Y7_2 {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        color: var(--white);
        padding: var(--spacing16) var(--spacing24);
        font-weight: 300;
    }

.overlay-3iA3b .title-2dV1O {
        font-weight: 300;
        font-style: normal;
        font-family: var(--serif);
        font-size: var(--fontSize22);
        line-height: var(--lineHeightTight);
        margin: 0;
        color: var(--white);
    }

.overlay-3iA3b .mediaContainer-mLCfR {
        height: 100%
    }

.overlay-3iA3b .mediaContainer-mLCfR img {
            object-fit: cover;
        }

.overlay-3iA3b .objectFitFallbackContainer-1O24O {
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

.overlay-3iA3b .teaser-3KPeR {
        display: none;
    }

.featured-3LL2k .title-2dV1O {
        font-size: var(--fontSize22);
        line-height: var(--lineHeightTight);
    }

.featured-3LL2k > .teaser-3KPeR {
        line-height: var(--lineHeightTight);
        font-weight: 100;
        font-size: var(--fontSize16);
        display: none
    }

@media (min-width: 37.5em) {

.featured-3LL2k > .teaser-3KPeR {
            display: block;
            font-size: var(--fontSize20)
    }
        }

.mediaContainer-1TplQ, .placeholder-1MCeS {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
}

.imageContainer-RAyjg {
    position: relative;
    height: 100%;
}

.image-o9iU9 {
    display: block;
    width: 100%;
}

.copyright-15lR- {
    position: absolute;
    left: var(--spacing8);
    bottom: 0;
    color: var(--text-secondary, var(--customGrey3));
    font-size: var(--fontSize10);
}

.posterFrame-Rwmyl {
    position: relative
}

.posterFrame-Rwmyl .playButton-3hbBq {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        height: var(--spacing60);
        width: var(--spacing60);
        padding: .1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.video-AdifJ {
    width: 100%;
    position: relative;
}

.video-AdifJ iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.caption-15gdD {
    display: block;
    margin: var(--spacing4) 0 0;
    color: var(--text-secondary, var(--customGrey3));
    text-align: left;
    font-size: var(--fontSize14)
}

.widthHeightWrapper-1CY7d {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

[data-aid-version] img {
    width: 100%;
}

.lazy-xyQQ2 {
    overflow: hidden
}

.lazy-xyQQ2::after {
        display: block;
        background: var(--background-secondary-accent, var(--grey5));
        height: 100%;
        position: relative;
    }



    .HTMLRenderer-248RS > :first-child {
        margin-top: 0;
    }
.HTMLRenderer-248RS > :last-child {
        margin-bottom: 0;
    }

.container-34Nbn {
    position: relative;
    width: 100%
}
.container-34Nbn .child-2Rk4q {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

.tileRow-3ETk4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 1
}

.tileRow-3ETk4::after {
        content: '';
        flex: auto;
    }

.tile-3KqhL {
    width: 15%;
    margin: .5vw .83% 0;
    display: block;
    color: var(--text-primary, var(--black));
    text-decoration: none;
    cursor: pointer;
    padding-bottom: var(--spacing24)
}

.tile-3KqhL:hover {
        color: var(--text-primary, var(--black));
        text-decoration: none;
    }

@media (min-width: 0em) and (max-width: 37.499em) {

.tile-3KqhL {
        width: 30.75%;
        margin: 0.5vw 1.25% 0
}
    }

@media (min-width: 37.5em) and (max-width: 59.999em){

.tile-3KqhL {
        width: 22.5%;
        margin: .5vw 1.25% 0
}

    }

.placeholder-3bAt- {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 133.58%;
    outline: 1px solid var(--text-secondary, var(--grey10));
    background: var(--background-secondary-accent, var(--grey5));
}

.tileImg-vFoPT {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer-LYXp3 {
    padding: 0 var(--spacing4);
}

.rowTitle-2h5HV {
    font-family: var(--sans);
    font-size: var(--fontSize18);
    font-weight: 500;
    font-style: italic;
    margin: var(--spacing16) 0;
    display: block
}

@media (min-width: 0em) and (max-width: 37.499em) {

.rowTitle-2h5HV {
        margin-bottom: var(--spacing10)
}
    }

.tileTitle-1aoed {
    text-align: center;
    font-weight: 300;
    display: block;
    font-size: var(--fontSize14);
    line-height: var(--lineHeight);
    margin-top: var(--spacing8)

}

@media (min-width: 37.5em) {

.tileTitle-1aoed {

}
    }

@media (min-width: 60em) {

.tileTitle-1aoed {
        margin-top: var(--spacing16)

}
    }


.LibraryHeader-2JAkt {
    padding: var(--spacing16) var(--spacing24);
    font-size: var(--fontSize14);
    border-bottom: 1px solid var(--border-primary, var(--grey10));
    position: -webkit-sticky;
    position: sticky;
    top: -1px;;
    background: var(--background-primary, var(--white));
    height: 62.75px;
    z-index: 20;
    display: flex;
    align-items: center
    /* Removed so BookmarksManager can be visible */
    /* overflow: scroll; */
}

.LibraryHeader-2JAkt::-webkit-scrollbar {
        display: none;
    }

.LibraryHeader-2JAkt .link-26FWy {
        /*opacity: 0;*/
        animation: appear-2MChX 2s ease;
        white-space: nowrap
    }

.LibraryHeader-2JAkt .link-26FWy:empty {
            background: var(--background-secondary, var(--grey5));
            background-size: 22px;
            background-position: 0 0;
            height: 22px;
            width: 10vw;
            position: absolute
        }

@media (min-width: 37.5em) and (max-width: 59.999em) {

.LibraryHeader-2JAkt .link-26FWy:empty {
                width: 30vw
        }
            }

@media (min-width: 0em) and (max-width: 37.499em) {

.LibraryHeader-2JAkt .link-26FWy:empty {
                width: 60vw
        }
            }

[dir="ltr"] .LibraryHeader-2JAkt > *:not(:first-child) {
            margin-left: var(--spacing16);
            color: var(--text-primary, var(--black))
    }

[dir="rtl"] .LibraryHeader-2JAkt > *:not(:first-child) {
            margin-right: var(--spacing16);
            color: var(--text-primary, var(--black))
    }

.LibraryHeader-2JAkt .link-26FWy:not(:first-child)::before {
            content: ''
        }

[dir="ltr"] .LibraryHeader-2JAkt .link-26FWy:not(:first-child)::before {
                border-left: 1px solid var(--border-primary, var(--grey10));
                padding-right: var(--spacing16)
        }

[dir="rtl"] .LibraryHeader-2JAkt .link-26FWy:not(:first-child)::before {
                border-right: 1px solid var(--border-primary, var(--grey10));
                padding-left: var(--spacing16)
        }

.LibraryHeader-2JAkt .inactiveLink-1Iuez {
        color: var(--text-primary, var(--black))
    }

.LibraryHeader-2JAkt .inactiveLink-1Iuez:hover {
            text-decoration: none;
        }

[dir="ltr"] .LibraryHeader-2JAkt .bookmarkManager-3ke1c {
            margin-left: auto
    }

[dir="rtl"] .LibraryHeader-2JAkt .bookmarkManager-3ke1c {
            margin-right: auto
    }

@keyframes appear-2MChX {
    from {opacity: 0};
    to {opacity: 1};
}

.addButton-2H4qx {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    max-width: 100%;
}

.bookmarkManager-a8aNB {
    color: var(--text-primary, var(--black));
    position: relative
}

.bookmarkManager-a8aNB .callout-CWeFS {
        border: 1px solid var(--border-primary, var(--grey10))
    }

.bookmarkManager-a8aNB .callout-CWeFS div > div::before {
            border-bottom-color: var(--border-primary, var(--grey10));
        }

.bookmarkManager-a8aNB .callout-CWeFS div > div::after {
            border-bottom-color: var(--background-primary, var(--white));
        }

.bookmarkManagerTitle-1UMSL {
    line-height: 1.2;
}

.bookmark-1WHMp {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.bookmarkContext-ALI8U {
    color: var(--text-secondary, var(--grey30));
    font-size: var(--fontSize14);
}

[dir="ltr"] .bookmarkLink-3fDac {
    margin-right: var(--spacing16);
}

[dir="rtl"] .bookmarkLink-3fDac {
    margin-left: var(--spacing16);
}

.bookmarkLink-3fDac {
    color: var(--text-primary, var(--black));
    flex: 1 1;
    font-size: var(--fontSize16);
    line-height: 1.4;
    text-align: left;
    text-align: initial
}

.bookmarkLink-3fDac:hover {
        text-decoration: none
    }

.bookmarkLink-3fDac:hover .bookmarkName-2JUKZ {
            color: var(--text-link, var(--blue20));
        }

.bookmarkHeader-2Bn20 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--background-primary, var(--white));
    padding-top: var(--spacing4);
    z-index: 5
}

.bookmarkHeader-2Bn20 button[disabled],
    .bookmarkHeader-2Bn20 button[disabled]:hover {
        background-color: var(--background-disabled, var(--grey3));
        color: var(--text-secondary, var(--grey20));
    }

.bookmarkFooter-1fkfD {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: var(--spacing4) 0;
    background-color: var(--background-primary, var(--white));
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: center
}

@media (min-width: 46em) {

.bookmarkFooter-1fkfD {
        padding: var(--spacing16) 0
}
    }

.bookmarkFooter-1fkfD button[disabled],
    .bookmarkFooter-1fkfD button[disabled]:hover {
        background-color: var(--background-disabled, var(--grey3));
        color: var(--text-secondary, var(--grey20));
    }

.bookmarkList-eskxZ {
    flex-basis: 100%;
    overflow: auto
}

.bookmarkList-eskxZ li {
        margin-top: var(--spacing16)
    }

.bookmarkList-eskxZ li label {
            display: inline-flex;
            align-items: center;
        }

.callout-CWeFS {
    position: fixed;
    top: var(--top, 13px);
    right: 4px;
    left: 4px;
    bottom: auto;
    width: 280px;
    max-width: 75vw
}

@media (min-width: 46em) {

.callout-CWeFS {
        position: absolute;
        top: calc(100% + 20px);
        right: 0;
        left: 0
}
    }

[dir="ltr"] .callout-CWeFS {
        left: auto
}

[dir="rtl"] .callout-CWeFS {
        right: auto
}

.calloutInner-25XfU {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--spacing16);
    max-height: 55vh;
    overflow-y: scroll;
    background-color: var(--background-primary, var(--white))
}

@media (min-width: 46em) {

.calloutInner-25XfU {
        padding: 0 var(--spacing16)
}
    }

.calloutInner-25XfU:focus {
        outline: none;
    }

.calloutInner-25XfU header {
        align-items: center;
        border-bottom: 1px solid var(--border-primary, var(--grey10));
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        padding: 3px
    }

@media (min-width: 46em) {

.calloutInner-25XfU header {
            padding-top: var(--spacing16)
    }
        }

.editButton-3bTFD {
    background: none;
    border: none;
    color: var(--text-link, var(--info40));
    cursor: pointer;
    font-size: var(--fontSize14)

}

[dir="ltr"] .editButton-3bTFD {
        margin-left: auto

}

[dir="rtl"] .editButton-3bTFD {
        margin-right: auto

}

.editTip-3ZrgU {
    color: var(--text-secondary, var(--grey20));
    flex-basis: 100%;
    margin-top: 1em;
    text-align: center;
}

[dir="ltr"] .closeButton-1wExQ {
        margin-left: var(--spacing8)
}

[dir="rtl"] .closeButton-1wExQ {
        margin-right: var(--spacing8)
}

button.iconButton--V5Iv {
    background-color: transparent;
    color: var(--text-primary, var(--black))
}

button.iconButton--V5Iv:hover {
        color: var(--text-secondary, var(--grey30));
        background-color: var(--background-secondary-accent, var(--grey2));
    }

button.iconButton--V5Iv[disabled] {
        filter: grayscale(80%);
    }

button.iconButton--V5Iv[disabled], [disabled] button.iconButton--V5Iv {
        color: var(--text-secondary, var(--grey10));
        cursor: auto;
        pointer-events: none
}

[dir="rtl"] .iconButton--V5Iv {
    transform: scaleX(-1);
}

.hiddenTitleText-2SahY {
    position: fixed;
    top: -9999px
}

.login-1gOsB {
    display: block;
    margin: 8px;
    text-align: center;
    font-family: var(--sans)
}

.login-1gOsB > * {
        display: block;
        margin: 0 auto 10px;
        max-width: 75%;
    }

.login-1gOsB a {
        font-size: var(--fontSize12);
    }

.login-1gOsB .outOfService-315Eu {
        color: var(--danger40);
    }

.signInLink-3duuu {
    display: contents;
    color: var(--color)
}

.signInLink-3duuu:hover {
        color: var(--color);
    }

.divider-2PtYk {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    border-bottom: 1px solid var(--border-primary, var(--grey10));
    margin: 0;
    width: 100%;
}

.message-2_wiG {
    color: var(--danger40);
    display: inline-block;
    font-family: var(--sans);
    padding: var(--spacing16);
    text-align: center;
    width: 100%;
}


.SettingsManager-2sRG- {
    color: var(--text-primary, var(--black));
    position: relative
}

.SettingsManager-2sRG- .signIn-3jPvk {
        margin: 10px 0 0;
    }

.SettingsManager-2sRG- .callout-1WVKz {
        border: 1px solid var(--border-primary, var(--grey10));
        background-color: var(--background-primary, var(--white)) 
    }

.SettingsManager-2sRG- .callout-1WVKz div > div::before {
            border-bottom-color: var(--border-primary, var(--grey10));
        }

.SettingsManager-2sRG- .callout-1WVKz div > div::after {
            border-bottom-color: var(--background-primary, var(--white));
        }

[dir="rtl"] .icon-17Qiv {
    transform: scale(1);
}

.SettingsManagerTitle-3CLD2 {
    line-height: 1.2;
    margin-right: auto;
}

.callout-1WVKz {
    position: fixed;
    top: var(--top, 13px);
    right: 4px;
    left: 4px;
    bottom: auto;
    max-width: 75vw
}

@media (min-width: 46em) {

.callout-1WVKz {
        position: absolute;
        top: calc(100% + 20px);
        right: 0;
        left: 0;
        width: 280px
}   
    }

[dir="ltr"] .callout-1WVKz {
        left: auto
}

[dir="rtl"] .callout-1WVKz {
        right: auto
}

.row-3CvwM {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

@media (min-width: 350px) {

.row-3CvwM {
        flex-wrap: nowrap
}
    }

[dir="ltr"] .closeButton-3jPAH {
        margin-left: var(--spacing8)
}

[dir="rtl"] .closeButton-3jPAH {
        margin-right: var(--spacing8)
}

.footnotesControlRow-247Su {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing32);
}

.buttonRow-_j9IU {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing32)
}

.buttonRow-_j9IU button {
        border-color: var(--accent, var(--blue20));
        background-color: var(--background-primary, var(--white));
        color: var(--text-primary, var(--black));
    }

.buttonRow-_j9IU > :not(:last-child) {
        margin-right: var(--spacing16);
    }

.buttonRow-_j9IU div {
        padding-bottom: 0.25rem;
        margin-bottom: 0.5rem;
    }

.settingsHead-3iDND {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-primary, var(--grey10));
    margin-bottom: var(--spacing8);
}

.themeButton-1knJk {
    color: var(--text-primary, var(--black));
    font-size: var(--fontSize14);
    outline: none;
    background-color: var(--background-primary, var(--white));
    border: none;
    padding: var(--spacing4);
    border-radius: var(--spacing4);
    cursor: pointer;
}

.themeButtonRow-235IX {
    justify-content: space-around;
    margin-bottom: var(--spacing8);
    padding-top: var(--spacing8)
}

.themeButtonRow-235IX button:hover {
        background-color: var(--background-secondary-accent, var(--grey3));
    }

.themeCircle-2sPCc {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px var(--border-primary, var(--grey10));
    padding-top: 10px;
    color: var(--text-primary, var(--black));
}

.checkbox-3xpmE {
    cursor: pointer;
}


:root {
    /* Variables for tags: */
    --tag-accent-focus: var(--blue30);
    --tag-text-focus: #DEE1E1;
}
/* TODO: I hate this theme system and our colors. 
    We need to designers to pick better colors for each theme. */
.night {
    --accent: #FFB81C;
    --accent-dark: #be5f00;
    --accent-focus: #F68D2E;
    --background-primary: #212225;
    --background-secondary: #242528;
    --background-secondary-accent: #323335;
    --background-disabled: #323335;
    --background-active-verse: #908801;
    --border-primary: #676768;
    --icon: #999A9B;
    --icon-link: #6BA5AE;
    --scrollbar-thumb-primary: #A8AAAC;
    --scrollbar-thumb-secondary: #DEE1E1;
    --text-primary: #DEE1E1;
    --text-secondary: #A8AAAC;
    --text-link: #6BA5AE;

    /* Variables for tags: */
    --tag-accent: var(--accent);
    --tag-accent-hover: var(--accent-focus);
    --tag-accent-focus: var(--accent-dark);
    --tag-text: #000000;
    --tag-text-hover: var(--tag-text);
    --tag-text-focus: var(--text-primary);
}
.sepia {
    --accent: #D35211;
    --accent-dark: #9b2000;
    --accent-focus: #FC7473;
    --background-primary: #FBF4E6;
    --background-secondary: #FBF4E6;
    --background-secondary-accent: var(--white);
    --background-active-verse: #EAEA95;
    --border-primary: #6E4E33;
    --icon: #8A8782;
    --icon-link: #61A6BB;
    --scrollbar-thumb-primary: #6E4E33;
    --scrollbar-thumb-secondary: #2F1C08;
    --text-primary: #2F1C08;
    --text-secondary: #6E4E33;
    --text-link: #6BA5AE;

    /* Variables for tags: */
    --tag-accent: var(--accent);
    --tag-accent-hover: var(--accent-focus);
    --tag-accent-focus: var(--accent-dark);
    --tag-text: #ffffff;
    --tag-text-hover: var(--tag-text);
    --tag-text-focus: var(--tag-text);
}
.LDSORGFooter {
    --footerThemeBackground: var(--background-primary);
    --footerThemeText: var(--text-primary);
    --footerThemeLogo: var(--text-primary);
    --footerThemeCopyright: var(--text-secondary);
}

.additionalTiles-2b-4A {

}

.gospelLibrary-3qszi {
    background-color: var(--background-primary, var(--white));
    padding-bottom: 150px;
    flex: 1 1
}

.gospelLibrary-3qszi .libraryTitle-2yFdt {
		font: var(--h1-serif);
		font-size: var(--fontSize18);
		padding-bottom: var(--spacing4);
		display: block;
		width: 100%;
		border-bottom: 1px solid var(--border-primary, var(--grey10));
	}

.hero-3mDMr {
  margin-bottom: 1rem;
}

.link-28vzE {
  float: right;
}

.errorPanel-3dEb3 {
    margin: var(--spacing40) 0;
    background-color: var(--background-primary, var(--white));
}

:root {
    --customGrey1: #E6E6E6;
    --customGrey2: #BBBBBB;
    --customGrey3: #A2AAAD;
    --customGrey4: #97999B;
    --customGrey5: #53565A;
    --footerGrey: #F1F1F3;

    --sans: "Ensign:Sans", Arial, "noto sans", sans-serif;
    --serif: "Ensign:Serif", "Georgia", "Times New Roman", serif;
    --monospace: "Courier New", Courier, monospace;

    --fontSize10: 0.625rem;
    --fontSize12: 0.75rem;
    --fontSize22: 1.375rem;
    --fontSize26: 1.625rem;
    --fontSize30: 1.875rem;
    --fontSize36: 2.25rem;
    --fontSize52: 3.25rem;
    --fontSize54: 3.375rem;

    --spacing10: 0.625rem;
    --spacing20: 1.25rem;
    --spacing40: 2.5rem;
    --spacing60: 3.75rem;

    @custom-media --mq-50-only (min-width: 0em) and (max-width: 24.999em);
    @custom-media --mq-reader (min-width: 77.5em);
    @custom-media --mq-mobile (min-width: 46em);

    @custom-media --xs-min (min-width: 320px);
    @custom-media --xs-max (max-width: 319px);
    @custom-media --xs-only (min-width: 320px) and (max-width: 499px);

    @custom-media --s-min (min-width: 500px);
    @custom-media --s-max (max-width: 499px);
    @custom-media --s-only (min-width: 500) and (max-width: 639.999);

    @custom-media --m-min (min-width: 640px);
    @custom-media --m-max (max-width: 639px);
    @custom-media --m-only (min-width: 640) and (max-width: 899.999);

    @custom-media --l-min (min-width: 900px);
    @custom-media --l-max (max-width: 899px);
    @custom-media --l-only (min-width: 900px) and (max-width: 1199px);

    @custom-media --xl-min (min-width: 1200px);
    @custom-media --xl-max (max-width: 1199px);
    @custom-media --xl-only (min-width: 1200px) and (max-width: 1499px);

    @custom-media --xxl-min (min-width: 1500px);
    @custom-media --xxl-max (max-width: 1499px);

    --h1-sans: normal normal bold var(--fontSize54)/var(--lineHeightTight) var(--sans);
    --h2-sans: normal normal 100 var(--fontSize26)/var(--lineHeightTight) var(--sans);
    --h3-sans: normal normal bold var(--fontSize16)/var(--lineHeightTight) var(--sans);
    --h5-sans: normal normal bold var(--fontSize18)/var(--lineHeightTight) var(--sans);

    --h1-serif: normal normal normal var(--fontSize54)/var(--lineHeightTight) var(--serif);
    --h1-serif-informal: italic normal bold var(--fontSize52)/var(--lineHeightTight) var(--serif);
    --h4-serif: normal normal normal var(--fontSize18)/var(--lineHeightTight) var(--serif);
    --h6-serif: italic normal normal var(--fontSize18)/var(--lineHeightTight) var(--serif);
}

body {
    padding: 0 !important;
    font-size: var(--fontSize18);
    font-family: var(--sans);
    line-height: var(--lineHeight);
    background-color: var(--background-primary, var(--white));
}

.app-2gqL8 {
    flex: 1 1;
    display: flex;
    flex-direction: column
}

.app-2gqL8 > main {
        display: flex;
        flex-direction: column;
    }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* additional reset rules*/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: normal normal 400 var(--fontSize16)/var(--lineHeightLoose) var(--sans);
  font-weight: 400;
}

body {
  font-weight: 400;
  font-size: var(--fontSize18);
}

strong, b {
    font-weight: bold
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

button, input, optgroup, select, textarea {
    font-size: 100%;
}

body {
    color: var(--text-primary, var(--black));
}

a {
    color: var(--text-link, var(--info40));
    text-decoration: none
}

a:hover {
        text-decoration: none;
        color: var(--text-link, var(--blue20));
    }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans);
    /*margin: 0 0 var(--spacing16);*/
}

h1 {
    font: normal normal normal var(--fontSize52)/var(--lineHeightTight) var(--sans);
    font-weight: 300;
}

h2 {
    font-size: var(--fontSize28);
    line-height: 1.2;
    font-weight: 100;
}

h3, h4, h5, h6 {
    font-size: var(--fontSize18);
    font-weight: bold;
}

h3 {
    line-height: 1.278;
    letter-spacing: 0.00278em;
    /*text-transform: uppercase;*/
}

h4, h5, h6, {
    line-height: 1.222;
}

dt {
    font-size: var(--fontSize18);
    font-style: italic;
    font-weight: 400;
    line-height: var(--lineHeightTight);
}

dd {
    margin: 0;
    /*margin-left: var(--spacing60);*/
}

code {
    font-family: var(--monospace);
    white-space: pre-wrap;
}

.toaster-29EFu[class] {
    bottom: var(--spacing16);
    left: 50%;
    right: auto;
    display: flex;
    position: fixed;
    align-items: center;
    transition: 250ms ease-in-out;
    transform: translate3d(-50%, calc(100% + var(--spacing16)), 0)
}

.toaster-29EFu[class].show-eSPTU, .toaster-29EFu[class][focus-within] {
        transform: translate3d(-50%, 0, 0);
    }

.toaster-29EFu[class].show-eSPTU, .toaster-29EFu[class]:focus-within {
        transform: translate3d(-50%, 0, 0);
    }

/* This isn't used but, I figured I'd leave it in here for the future. */

.toaster-29EFu.right-zyzIE[class] {
    left: auto;
    right: var(--spacing16);
    transform: translate3d(0, calc(100% + var(--spacing16)), 0)

}

.toaster-29EFu.right-zyzIE[class].show-eSPTU, .toaster-29EFu.right-zyzIE[class][focus-within] {
        transform: translate3d(0, 0, 0);
    }

.toaster-29EFu.right-zyzIE[class].show-eSPTU, .toaster-29EFu.right-zyzIE[class]:focus-within {
        transform: translate3d(0, 0, 0);
    }

/*# sourceMappingURL=app.2.27.0.css.map*/