.activeVerse-3n-ax {
    background: var(--background-active-verse, lightyellow);
    padding: var(--spacing8);
    padding-bottom: .65em;
    margin: -var(--spacing8);
    margin-bottom: 0;
    transition: background .5s ease;
}

.reader-2cvxV {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -300px;
    right: -300px;
    font-family: var(--sans);
    min-height: var(--overlay-height, 100vh);
    transition: left 400ms cubic-bezier(.4, 0, .2, 1), right 400ms cubic-bezier(.4, 0, .2, 1)
}

[dir="ltr"] .reader-2cvxV.relatedContentPanelOpen-2CWmO {
        right: 0
}

[dir="rtl"] .reader-2cvxV.relatedContentPanelOpen-2CWmO {
        left: 0
}

.reader-2cvxV > .tableOfContentsPanel-2Hhhy {
        transition: 400ms cubic-bezier(.4, 0, .2, 1);
        min-width: 0;
        flex: 0 1 300px;
        z-index: 30
    }

@media (min-width: 77.5em) {

.reader-2cvxV > .tableOfContentsPanel-2Hhhy {
            z-index: 20
    }
        }

.reader-2cvxV > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
            position: relative;
            min-width: 300px;
            transition: 400ms cubic-bezier(.4, 0, .2, 1);
            transform: scale(1);
        }

[dir="ltr"] .reader-2cvxV > .tableOfContentsPanel-2Hhhy {
            left: -300px;
            transition-property: left
    }

[dir="ltr"] .reader-2cvxV > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
                left: 0;
                transition-property: left;
                border-left: none;
            }

[dir="rtl"] .reader-2cvxV > .tableOfContentsPanel-2Hhhy {
            right: -300px;
            transition-property: right
    }

[dir="rtl"] .reader-2cvxV > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
                right: 0;
                transition-property: right;
                border-right: none;
            }

[dir="ltr"] .reader-2cvxV.tableOfContentsPanelOpen-1XMmm > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
            left: 300px;
        }

@media (min-width: 77.5em) {

[dir="ltr"] .reader-2cvxV.tableOfContentsPanelOpen-1XMmm {
            left: 0
}

            [dir="ltr"] .reader-2cvxV.tableOfContentsPanelOpen-1XMmm > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
                left: 0;
            }
        }

[dir="rtl"] .reader-2cvxV.tableOfContentsPanelOpen-1XMmm > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
            right: 300px;
        }

@media (min-width: 77.5em) {

[dir="rtl"] .reader-2cvxV.tableOfContentsPanelOpen-1XMmm {
            right: 0
}

            [dir="rtl"] .reader-2cvxV.tableOfContentsPanelOpen-1XMmm > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
                right: 0;
            }
        }

@media (max-width: 77.499em) {

[dir="ltr"] .reader-2cvxV.tableOfContentsPanelOpen-1XMmm.hideMobileTableOfContents-2Y1DF > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {
                left: -300px
    }

.reader-2cvxV.tableOfContentsPanelOpen-1XMmm.hideMobileTableOfContents-2Y1DF > .tableOfContentsPanel-2Hhhy .innerPanel-2E4ec {

            @nest [dir="rtl"] {
                right: -300px
            }
    }
        }

.reader-2cvxV .relatedContent-2Heic {
        max-height: calc(100vh - 44px);
        overflow-x: hidden;
    }

.backToAll-1PgB6 {
    font-size: var(--fontSize16);
    font-weight: 400
}

.backToAll-1PgB6 .backText-1xONO {
        color: var(--text-primary, var(--black));
        display: flex;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center
    }

.backToAll-1PgB6 .backText-1xONO .backIcon-3BjfL {
            display: flex;
            font-size: var(--fontSize30);
        }

.backToAll-1PgB6 .backText-1xONO .backToLink-2AWH9 {
            flex: 2 1;
            line-height: var(--lineHeight);
            max-width: 215px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

.contentHead-3F0ox[class] {
    transition: all .75s ease;
    position: -webkit-sticky;
    position: sticky
}

.contentHead-3F0ox[class] .contentTitle-1BmS6 {
        cursor: pointer;
        display: block;
        flex: 1 1 70%;
        min-width: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap
    }

.contentHead-3F0ox[class] .contentTitle-1BmS6::after {
            content: "";
            position: absolute;
            width: 5%;
            top: 0;
            bottom: 0
        }

[dir="ltr"] .contentHead-3F0ox[class] .contentTitle-1BmS6::after {
                right: 0;
                background: linear-gradient(to left, var(--background-primary, var(--white)) 0, rgba(255, 255, 255, 0) 100%)
        }

[dir="rtl"] .contentHead-3F0ox[class] .contentTitle-1BmS6::after {
                left: 0;
                background: linear-gradient(to right, var(--background-primary, var(--white)) 0, rgba(255, 255, 255, 0) 100%)
        }

@media (min-width: 46em) {

.contentHead-3F0ox[class] .contentTitle-1BmS6 {
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 50%
    }

[dir="ltr"] .contentHead-3F0ox[class] .contentTitle-1BmS6[class] + * {
                margin-left: auto
    }

[dir="rtl"] .contentHead-3F0ox[class] .contentTitle-1BmS6[class] + * {
                margin-right: auto
    }
        }

@media (min-width: 77.5em) {

.contentHead-3F0ox[class] .contentTitle-1BmS6 {
            width: 70%
    }

.relatedContentPanelOpen-2CWmO .contentHead-3F0ox[class] .contentTitle-1BmS6, .tableOfContentsPanelOpen-1XMmm .contentHead-3F0ox[class] .contentTitle-1BmS6 {
                width: 50%
    }

.relatedContentPanelOpen-2CWmO.tableOfContentsPanelOpen-1XMmm .contentHead-3F0ox[class] .contentTitle-1BmS6 {
                width: 40%
    }
        }

.contentHead-3F0ox[class] .contentTitle-1BmS6 a.toTopLink-2Chef {
            color: var(--text-secondary, var(--customGrey4));
            text-decoration: none
        }

.contentHead-3F0ox[class] .contentTitle-1BmS6 a.toTopLink-2Chef:hover {
                color: var(--text-primary, var(--customGrey5));
            }

.contentHead-3F0ox[class] .contentTitle-1BmS6 a.toTopLink-2Chef:empty {
                background: var(--background-secondary, var(--footerGrey));
                background-size: 22px;
                background-position: 0 0;
                height: 22px;
                width: 20vw;
            }

.contentHead-3F0ox[class] > * {
        flex-shrink: 0;
        margin: 0 .5rem; /* spacing8 */
    }

.contentArea-1SjMI {
    flex: 1 0;
    font-family: var(--serif);
    line-height: var(--lineHeight);
    max-width: var(--overlay-width, 100vw);
    background-color: var(--background-primary, var(--white));
    color: var(--text-primary, var(--black))
}

.contentArea-1SjMI .hideSelection-1ncit *::selection {
        background-color: transparent;
    }

.contentArea-1SjMI .traversalLink-1QVq2 {
        position: absolute;
        font-size: var(--fontSize22);
        z-index: 25;
        width: calc(1.25em + 15px);
        display: none
    }

.contentArea-1SjMI .traversalLink-1QVq2 a {
            color: var(--text-primary, var(--black));
            cursor: pointer;
            transition: color .25s ease;
            position: fixed;
            top: 50%;
            padding: 15px;
            box-sizing: content-box
        }

.contentArea-1SjMI .traversalLink-1QVq2 a:hover {
                color: var(--text-link, var(--info40));
            }

@media (min-width: 46em) {

.contentArea-1SjMI .traversalLink-1QVq2 {
            display: inline;
            display: initial
    }
        }

[dir="ltr"] .contentArea-1SjMI .nextLink-1V6GZ, [dir="rtl"] .contentArea-1SjMI .prevLink-1DB-B {
        right: calc(300px + var(--spacing16))
}

[dir="ltr"] .contentArea-1SjMI .nextLink-1V6GZ svg, [dir="rtl"] .contentArea-1SjMI .prevLink-1DB-B svg {
            padding-right: 0;
        }

[dir="ltr"] .contentArea-1SjMI .prevLink-1DB-B, [dir="rtl"] .contentArea-1SjMI .nextLink-1V6GZ {
        left: calc(300px + var(--spacing16))
}

[dir="ltr"] .contentArea-1SjMI .prevLink-1DB-B svg, [dir="rtl"] .contentArea-1SjMI .nextLink-1V6GZ svg {
            padding-left: 0;
        }

.contentArea-1SjMI .audioPlayer-uToZg {
        width: 100vw;
        right: 0px;
        transition: .4s cubic-bezier(.4,0,.2,1);
        transition-property: width, left, right
    }

.relatedContentPanelOpen-2CWmO .contentArea-1SjMI .audioPlayer-uToZg {
            width: calc(100vw - 300px)
    }

[dir="ltr"] .relatedContentPanelOpen-2CWmO .contentArea-1SjMI .audioPlayer-uToZg {
                width: calc(100vw - 300px);
                right: 300px
    }

[dir="rtl"] .relatedContentPanelOpen-2CWmO .contentArea-1SjMI .audioPlayer-uToZg {
                left: 300px
    }

@media (min-width: 77.5em) {

.tableOfContentsPanelOpen-1XMmm .contentArea-1SjMI .audioPlayer-uToZg {
                width: calc(100vw - 300px)
    }

.tableOfContentsPanelOpen-1XMmm.relatedContentPanelOpen-2CWmO .contentArea-1SjMI .audioPlayer-uToZg {
                width: calc(100vw - 600px)
    }
        }

.contentArea-1SjMI book-title {
        transition: all 1s ease;
    }

.contentArea-1SjMI .mobileNav-1qobD {
        position: fixed;
        bottom: 0;
        height: 44px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid var(--border-primary, var(--grey10));
        background: var(--background-secondary, var(--footerGrey))
    }

.contentArea-1SjMI .mobileNav-1qobD .mobileIcon-3ABLr {
            width: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center
        }

[dir="ltr"] .contentArea-1SjMI .mobileNav-1qobD .mobileIcon-3ABLr.mobilePrev-1Jf8d, [dir="rtl"] .contentArea-1SjMI .mobileNav-1qobD .mobileIcon-3ABLr.mobileNext-1J33m {
                border-right: 1px solid var(--border-primary, var(--grey5))
        }

@media (min-width: 46em) {

.contentArea-1SjMI .mobileNav-1qobD {
            display: none
    }
        }

.contentArea-1SjMI .navButton-WGhZC:hover {
        color: inherit;
    }

@media print {
    .contentArea-1SjMI {
        background-color: var(--white);
        color: var(--black);
    }
}

@keyframes background-38sDH {
    from {background-color: transparent;};
    to {background-color: rgba(0, 0, 0, 0.4)};
}

@keyframes background-in-1dZoI {
    from {background-color: transparent;};
    to {background-color: rgba(0, 0, 0, 0.4)};
}

@keyframes background-out-Ir3F8 {
    from {background-color: rgba(0, 0, 0, 0.4)};
    to {background-color: transparent;};
}

@keyframes appear-24cb3 {
    from {opacity: 0};
    to {opacity: 1};
}

@keyframes disappear-1LWeL {
    from {opacity: 1};
    to {opacity: 0};
}

@media print {
    body{
        overflow: visible;
        position: relative;
        display: block;
    }

    mark{
        color-adjust: exact; /*for printing background color, aka highlights*/
        -webkit-print-color-adjust: exact;
    }

    video, .traversalLink-1QVq2 {
        display: none !important;
    }

    img{
        page-break-inside: avoid;
        break-inside: avoid;
        max-width: 100%;
        max-height: 100%;
    }

    div[id="flexContainer"]{
        display: block !important;
    }

    .locked-3tD5v{
        display: block;
        overflow: visible;
    }

    .drawerWrapperWrapper-2ZDba, .contentHead-3F0ox, .contentArea-1SjMI .mobileNav-1qobD, .icon-gJCKN, svg, span[class="page-break"], .loadingScreen-3AWjM{
        display: none;
    }

    .reader-2cvxV{
        min-height: 0;
        min-height: initial;
        position: static;
        display: block;
    }

    .contentArea-1SjMI{
        margin: 0;
        width: 100%;
        display: block;
    }

    .narrowReader-3fSas{
        padding: 0;
    }
}

.printIcon-2oSvc {
    display: none
}

@media (min-width: 46em) {

.printIcon-2oSvc {
        display: block;
        min-width: 10px;
        min-height: 10px
}
    }

.callout-EaEKb[class] {
    background-color: var(--background-primary, var(--white));
    border: 1px solid var(--border-primary, var(--grey10));
    left: 50%;
    max-width: 416px;
    position: absolute;
    transform: translateX(-50%);
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 95vw
}

.callout-EaEKb[class]:focus {
        outline: none;
    }

.callout-EaEKb[class].hidden-6EhVw {
        display: none;
    }

.callout-EaEKb[class] mark {
        position: relative;
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-size: var(--fontSize20);
        padding-top: .1em;
        font-weight: 300;
        cursor: pointer;
    }

.callout-EaEKb[class] hr {
        margin: 0 8px;
        max-width: calc(100% - 16px);
    }

.annotationMenu-YPu2S, .shareMenu-39AwG {
    max-width: 416px;
    width: 95vw;
    max-height: 212px;
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--fontSize12) - 8px);
}

.smallCallout-3hyyo {
    width: auto;
}

.menuItem-39B5x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    max-width: 84px;
    width: 18.8vw;
    max-height: 84px;
    height: 18.8vw;
    margin: 8px
}

.menuItem-39B5x[disabled], .menuItem-39B5x[disabled] button {
        color: var(--text-secondary, var(--grey10));
        cursor: auto;
        pointer-events: none;
    }

.menuItem-39B5x mark {
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

.menuItem-39B5x.smallMenuItem-3x3yj {
        max-height: 64px;
        max-width: 64px;
    }

.menuItemLabel-3XB1V {
    margin-top: var(--spacing10);
    font-family: var(--sans);
    font-size: var(--fontSize14);
    font-weight: normal;
}

.highlightMenu-VMX0y {
    width: 410px;
}

.highlightMenuColors-2JYZ_ {
    display: flex;
    justify-content: space-between;
}

.highlightMenuColor-2tDjc {
    height: 70px;
    width: var(--spacing40);
    cursor: pointer
}

.highlightMenuColor-2tDjc.active-efbQg {
        pointer-events: none;
    }

.highlightMenuStyles-2tTb3 {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 30px
}

.highlightMenuStyles-2tTb3 mark {
        margin: 0 20px;
        font-size: var(--fontSize36)
    }

.highlightMenuStyles-2tTb3 mark.active-efbQg {
            pointer-events: none
        }

.highlightMenuStyles-2tTb3 mark.active-efbQg::after {
                display: block;
                content: "";
                width: 16px;
                margin: 0 auto;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                cursor: auto;
                border: 8px solid transparent;
                border-top-width: 6px;
                border-bottom: 7px solid var(--border-primary, var(--grey10));
            }

h1 {
    font-size: var(--fontSize30);
}

.renderFrame-1yHgQ {
    width: var(--overlay-width, 100vw);
    max-width: 40rem;
    margin: 0 auto;
}

@media print{
    .renderFrame-1yHgQ{
        overflow-y: visible;
    }
}

.startHandle-2o_6p, .endHandle-wg4Dv {
    position: absolute;
    display: none;
    content: '';
    border-radius: 50%;
    background-color: var(--accent, var(--blue20));
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    justify-content: center;
    align-items: center;
    touch-action: none;
}

.startHandle-2o_6p {
    border-top-right-radius: 0;
}

@media (any-pointer: coarse) {
    .startHandle-2o_6p::before, .endHandle-wg4Dv::after {
        content: "";
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
    }
}

.endHandle-wg4Dv {
    border-top-left-radius: 0;
}

.dragging-1rth9 {
    pointer-events: none;
}

.mediaPointer-Jmh4d {
    cursor: pointer;
}

[data-aid-version] .icon-2c0Xg[class] {
    position: absolute;
    transform: translateY(-0.15em);
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-indent: 0;
    text-indent: initial
}

[data-aid-version] .icon-2c0Xg[class]::after {
        content: "";
        display: inline;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--background-primary, var(--white));
        cursor: auto;
        cursor: initial;
    }

[dir="ltr"] [data-aid-version] .icon-2c0Xg[class] {
        right: 3px
}

@media (min-width: 46rem) {

[dir="ltr"] [data-aid-version] .icon-2c0Xg[class] {
            right: 20px
}
        }

[dir="ltr"] [data-aid-version] .icon-2c0Xg[class]::after {
            left: -2px
        }

@media (min-width: 46rem) {

[dir="ltr"] [data-aid-version] .icon-2c0Xg[class]::after {
                left: -12px
        }
            }

[dir="rtl"] [data-aid-version] .icon-2c0Xg[class] {
        left: 3px
}

@media (min-width: 46rem) {

[dir="rtl"] [data-aid-version] .icon-2c0Xg[class] {
            left: 20px
}
        }

[dir="rtl"] [data-aid-version] .icon-2c0Xg[class]::after {
            right: -2px
        }

@media (min-width: 46rem) {

[dir="rtl"] [data-aid-version] .icon-2c0Xg[class]::after {
                right: -12px
        }
            }

.mediaIcon-2k9PL {
    position: relative;
    z-index: 1;
    color: var(--icon, var(--grey20));
}

span.hidden-163M6[class] {
    color: var(--text-primary, var(--black))
}
span.hidden-163M6[class] sup {
        display: none;
    }

.annotationPointer-3JcKl {
    cursor: pointer
}

.annotationPointer-3JcKl.hidden {
        opacity: 0;
    }

[data-aid-version] .icon-2tg3-[class] {
    position: absolute;
    transform: translateY(-0.15em);
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-indent: 0;
    text-indent: initial
}

[dir="ltr"] [data-aid-version] .icon-2tg3-[class] {
        right: 3px
}

@media (min-width: 46rem) {

[dir="ltr"] [data-aid-version] .icon-2tg3-[class] {
            right: 20px
}
        }

[dir="ltr"] [data-aid-version] .icon-2tg3-[class]::after {
            left: -2px
        }

@media (min-width: 46rem) {

[dir="ltr"] [data-aid-version] .icon-2tg3-[class]::after {
                left: -12px
        }
            }

[dir="rtl"] [data-aid-version] .icon-2tg3-[class] {
        left: 3px
}

@media (min-width: 46rem) {

[dir="rtl"] [data-aid-version] .icon-2tg3-[class] {
            left: 20px
}
        }

[dir="rtl"] [data-aid-version] .icon-2tg3-[class]::after {
            right: -2px
        }

@media (min-width: 46rem) {

[dir="rtl"] [data-aid-version] .icon-2tg3-[class]::after {
                right: -12px
        }
            }

.annotationIcon-2uuEs {
    position: relative;
    z-index: 1;
    color: var(--icon, var(--grey20));
}

.bookmarkIcon-1etLp {
    position: absolute;
    cursor: pointer;
    text-indent: 0;
    text-indent: initial;
    color: var(--text-link, var(--info40))
}

[dir="ltr"] .bookmarkIcon-1etLp {
        left: 20px
}

[dir="rtl"] .bookmarkIcon-1etLp {
        right: 20px
}

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe {
    position: absolute;
    width: 100%;
    align-items: flex-start;
    background-color: var(--background-primary, var(--white));
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: .5em;
    line-height: var(--lineHeight);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(83, 87, 91, 0.3);
    z-index: 1
}

[dir="ltr"] [data-aid-version] #bookmarkModal.bookmarkModal-sNMfe {
        left: 0;
        border-left: 6px solid var(--accent, var(--blue20));
        padding-left: 0
}

[dir="rtl"] [data-aid-version] #bookmarkModal.bookmarkModal-sNMfe {
        right: 0;
        border-right: 6px solid var(--accent, var(--blue20));
        padding-right: 0
}

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe[class*="dragging"] span.bookmarkModalIcon-3r5h1 {
        cursor: grabbing;
    }

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe .bookmarkModalBody-2mhEg {
        align-items: center;
        display: flex;
        font-size: 16px;
        font-family: var(--sans);
        text-transform: none;
        text-indent: 0;
        text-indent: initial;
        width: 100%;
    }

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe .bookmarkModalIcon-3r5h1 {
        display: inline-flex;
        margin: 0 0.75em;
        font-size: 24px;
        cursor: grab;
        touch-action: none; /* necessary to prevent scrolling when trying to drag the modal */
        color: var(--icon, var(--grey20));
    }

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe .bookmarkName-1-s1w {
        text-align: left
    }

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe .bookmarkName-1-s1w span {
            font-size: 14px;
            color: var(--text-secondary, var(--grey40));
            letter-spacing: 0;
        }

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe span.modalTitle-Vqlqi, [data-aid-version] #bookmarkModal.bookmarkModal-sNMfe span.modalTitle-Vqlqi {
        text-transform: none;
        font-family: var(--sans);
        font-weight: 600;
        font-size: 18px;
        color: var(--text-primary, var(--black));
        padding: 0;
        letter-spacing: 0;
        text-align: left;
        display: block;
        font-style: none;
    }

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe .input-1I6x4 {
        border: none;
        width: 100%;
        height: 45px;
        outline: none;
        font-size: 18px
    }

[data-aid-version] #bookmarkModal.bookmarkModal-sNMfe .input-1I6x4::-webkit-input-placeholder {
            color: var(--text-secondary, var(--grey10));
        }

button.button-KBhku {
    display: flex;
    margin: var(--spacing16) auto;
}

.selected-1srjL {
    background-color: rgba(148, 199, 254, 0.5);
}
.selectableParagraph-2evhE:hover {
    cursor: pointer;
}
.videoPlayerContainer-WRxp6 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.downloadButton-SpfMS {
    margin: -1rem 0 var(--spacing24);
}

.container-RXqmU {
    display: flex;
    padding: var(--spacing16);
    flex-direction: column;
}

.callout-1OulS {
    position: absolute;
}

@media print {
    div.videoPlayerContainer-WRxp6 {
        display: none;
    }
}

.mask-1K9Ws {
    position: absolute;
    background: rgba(13, 15, 16, 0);
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: background-color 400ms cubic-bezier(.4, 0, .2, 1);
    z-index: 30
}

.mask-1K9Ws.active-39F_K {
        background: rgba(13, 15, 16, 0.5);
        pointer-events: auto;
    }

@media print {
    .mask-1K9Ws{
        display: none
    }
}

.panelHeader-2k7Jd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 var(--spacing8);
    top: 0;
    height: 44px;
    width: 100%;
    background: var(--background-primary, var(--white));
    border-bottom: 1px solid var(--border-primary, var(--grey10));
    text-align: center;
    line-height: var(--lineHeightLoose);
    font-family: var(--sans);
    font-size: var(--fontSize14);
    color: var(--text-primary, var(--text120));
    transition: all .75s ease;
    z-index: 20
    /* transform: scale(1); */

}
@media print{
    .panelHeader-2k7Jd {
        display: none

}
    }

.panelContent-2dg-k {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    overflow: auto;
    overscroll-behavior: contain;
    justify-content: space-between;
    background-color: var(--background-primary, var(--grey2));
    scrollbar-color: var(--scrollbar-thumb-primary, auto) var(--background-primary, auto);
}

.webkitScrollbar-15hRo::-webkit-scrollbar {
        width: 14px;
    }

.webkitScrollbar-15hRo::-webkit-scrollbar-button {
        background-color: auto;
    }

.webkitScrollbar-15hRo::-webkit-scrollbar-track {
        background-color: var(--background-primary, var(--grey2));
    }

.webkitScrollbar-15hRo::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-primary, var(--grey10));
        outline: 1px solid var(--scrollbar-thumb-primary, var(--grey10))
    }

.webkitScrollbar-15hRo::-webkit-scrollbar-thumb:hover {
            background-color: var(--scrollbar-thumb-secondary, var(--grey20));
        }


    .PanelPlatformFooter-JxFRY platform-footer {
        display: block;
        margin-top: var(--spacing16);
    }

.relatedContentPanel-2wEUz {
    flex: 0 0 300px
}

[dir="ltr"] .relatedContentPanel-2wEUz .innerPanel-32K4X {
        border-right: none
}

[dir="rtl"] .relatedContentPanel-2wEUz .innerPanel-32K4X {
        border-left: none
}

.relatedContentPanel-2wEUz .relatedContentAllHeader-ZlzXP::before {
            display: block;
            content: "";
            width: 24px;
        }

.relatedContentPanel-2wEUz .annotation-10JRK {
        padding: var(--spacing20) var(--spacing16);
        flex: 1 1;
    }

.relatedContentPanel-2wEUz .associatedmedia-H5U-Y figure {
        margin: 0px var(--spacing16) var(--spacing16);
        font-family: var(--sans)
    }

.relatedContentPanel-2wEUz .associatedmedia-H5U-Y figure:first-child {
            margin-top: var(--spacing10);
        }

[dir="ltr"] .relatedContentPanel-2wEUz .annotation-10JRK {
        padding-left: var(--spacing24)
}

[dir="rtl"] .relatedContentPanel-2wEUz .annotation-10JRK {
        padding-right: var(--spacing24)
}

/*  ==================  POETRY  ==================  */

.relatedContentPanel-2wEUz .poetry {
        margin-top: var(--spacing8)
    }

.relatedContentPanel-2wEUz .poetry:not(:last-child) {
            margin-bottom: var(--spacing8);
        }

.relatedContentPanel-2wEUz .stanza {
        margin-top: var(--spacing8);
        padding-left: var(--spacing8);
    }

.relatedContentPanel-2wEUz .line {
        font-weight: 300;
        line-height: var(--lineHeightLoose);
        text-indent: calc(-1 * var(--spacing8));
    }

.relatedContentPanel-2wEUz .verse .line {
        display: block;
        font-weight: 400;
        line-height: var(--lineHeight);
        margin-top: -22px;
        padding-left: 28px
    }

.relatedContentPanel-2wEUz .verse .line + .line {
            margin-top: 0;
        }

.annotation--Glx6 {
    font-family: var(--sans);
    background: var(--background-primary, var(--white));
    overflow-wrap: break-word;
}

.annotationHeader-38T7g {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: var(--fontSize14);
}

.callout-1nWR5[class] {
    position: absolute;
    top: calc(100% + 9px);
}

[dir="ltr"] .callout-1nWR5[class] {
    right: 0;
}

[dir="rtl"] .callout-1nWR5[class] {
    left: 0;
}

.calloutInner-fh4V8 {
    padding: 1em;
    text-align: left;
    color: var(--text-primary, var(--black));
    background: var(--background-primary, var(--white))
}

.calloutInner-fh4V8:focus{
        outline: none;
    }

.calloutInner-fh4V8 li {
        cursor: pointer
    }

.calloutInner-fh4V8 li[disabled] {
            color: var(--text-secondary, var(--grey30));
            cursor: auto;
        }

.calloutInner-fh4V8 li:not(:first-of-type) {
            margin-top: 1em;
        }

.calloutInner-fh4V8 li:not(:last-of-type) {
            margin-bottom: 1em;
        }

.timestamp-22_kU {
    color: var(--text-secondary, var(--grey30));
    display: flex;
    align-items: center;
    font-size: var(--fontSize12);
    font-weight: 400;
}

.note-1mYEo {
    font-size: var(--fontSize14);
    line-height: 1.4;
    color: var(--text-primary, var(--black))
}

.note-1mYEo .title-vQQRI {
        font-size: inherit;
        line-height: 16.8px;
        font-weight: 600;
        margin-top: .5em;
    }

.card-IOc08 {
    margin-top: var(--spacing24);
}

.tags-1s6wo {
    margin-top: var(--spacing8);
}

.folders-3AFC3 {
    margin-top: var(--spacing8);
}

.folder-2MVm1 {
    display: flex;
    align-items: center;
    margin-top: var(--spacing8)
}

.folder-2MVm1 svg {
        margin-right: var(--spacing4);
        flex-shrink: 0;
    }

.highlight-3TUJq {
    font-family: var(--serif);
    font-size: var(--fontSize16);
    line-height: 1.375
}

.highlight-3TUJq[data-aid] a {
        color: inherit;
        pointer-events: none;
    }

.highlight-3TUJq sup {
        display: none;
    }

.highlight-3TUJq iframe + * {
        padding-top: 0;
    }

.highlight-3TUJq > :last-child {
        padding-bottom: 0;
    }

.crossLinkCard-3a6sh {
    margin: var(--spacing16) 0;
    /* &:last-child {
        margin-bottom: 0;
    } */
}

.crossLinkReference-3Ropr > *:first-child {
        padding-right: 26px;
        display: inline-block;
    }

.crossLinkReference-3Ropr.disambiguating-hYicz p {
        margin-bottom: 0;
    }

.simple-14e1o {
    overflow: hidden;
    position: relative
}

.simple-14e1o.annotation--Glx6 {
        color: var(--text-primary, var(--text120));
    }

.simple-14e1o .timestamp-22_kU {
        margin-bottom: var(--spacing4);
    }

.simple-14e1o .folder-2MVm1 {
        color: var(--text-primary, var(--text120));
        pointer-events: none;
    }

.simple-14e1o .tags-1s6wo {
        pointer-events: none;
    }

.innerWrapper-36YIh {
    padding-top: var(--spacing10);
    display: flex;
    overflow-x: scroll
}

@media (min-width: 46em) {

.innerWrapper-36YIh {
        width: 100%;
        flex-wrap: wrap
}
    }

.tag-2CJ4p {
    /* color: var(--text-secondary, var(--grey60)); */

    display: inline-flex;
    align-items: center;
    margin-right: var(--spacing10);
    vertical-align: baseline;
    max-width: 100%;
    margin: 0 0 var(--spacing10) var(--spacing10)
}

.tag-2CJ4p span {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.tagTheme-OZzNw button[class] {
    color: var(--tag-text);
    background-color: var(--tag-accent);
    border-color: var(--tag-accent);
    }

.tagTheme-OZzNw button[class]:hover {
        color: var(--tag-text-hover);
        background-color: var(--tag-accent-hover);
        border-color: var(--tag-accent-hover);
    }

.tagTheme-OZzNw.selected-1lMls button[class] {
        color: var(--tag-text-focus);
        background-color: var(--tag-accent-focus);
        border-color: var(--tag-accent-focus);
    }
.annotationCard-3QcrE {
    position: relative;
    padding: var(--spacing16);
    background-color: var(--background-secondary, var(--grey2));
    color: var(--text-primary, var(--black))
}

.annotationCard-3QcrE a {
        color: var(--text-link, var(--info40));
    }

span .annotationCard-3QcrE {
    padding: var(--spacing16);
    background-color: var(--background-primary, var(--white));
}

article .annotationCard-3QcrE {
    background-color: var(--background-primary, var(--white));
}

.icon-1Obsd {
    position: absolute;
    right: var(--spacing16);
    top: var(--spacing16);
    color: var(--icon, var(--grey20));
}


        .reference-23HPe [data-aid] a {
            color: inherit;
            pointer-events: none;
        }

.reference-23HPe [data-aid] sup {
            display: none;
        }

.reference-23HPe .verse-number {
        font-weight: bold;
    }

.volume-xX8Uy {
    font-family: var(--sans);
    font-size: var(--fontSize12);
    margin-top: 0;
    line-height: 1.3333333;
    margin-bottom: 1em
}

.volume-xX8Uy ~ * {
        font-family: var(--serif);
        font-size: var(--fontSize16);
        line-height: 1.375;
    }

.citation-1gaxH {
    font: var(--h3-sans);
    line-height: 1.125;
}

.associatedMedia-xZONW {
    width: 100%;
    font-size: var(--fontSize14)
}

.associatedMedia-xZONW img {
        cursor: pointer;
    }

.associatedMedia-xZONW img, .associatedMedia-xZONW video {
        width: 100%;
        margin: 0;
        display: block;
    }

.mediaIcon-3JmS5 {
    margin-right: var(--spacing16);
}

.videoDuration-2O3xb {
    display: block;
    float: right;
    margin: calc(var(--spacing16) * -1) var(--spacing16) 0 0;
    transform: translateY(-100%);
    padding: 2px 7px;
    border-radius: 2px;
    background: var(--background-primary, var(--white));
}

.associatedMedia-xZONW figure {
    display: flex;
    flex-wrap: wrap;
}

.meta-1lo5b {
    align-items: flex-start;
    color: var(--text-secondary, var(--grey40));
    display: flex;
    flex: 1 0 100%;
    font-size: var(--fontSize14);
    justify-content: space-between;
    line-height: var(--lineHeight);
    margin: var(--spacing8) 0;
}

.infoIcon-fqQSh {
    color: var(--icon-link, var(--blue30));
}

.linkIcon-2Tdtj {
    color: var(--icon, var(--grey20));
}

.crossRef-1FRlZ {
    padding: var(--spacing10) var(--spacing16) var(--spacing16);
    font-family: var(--sans);
    flex: 1 1
}
.crossRef-1FRlZ [data-aid-version] .body {
            margin-left: var(--spacing10);
            padding-top: var(--spacing8)
        }
.crossRef-1FRlZ [data-aid-version] .body footer, .crossRef-1FRlZ [data-aid-version] .body sup, .crossRef-1FRlZ [data-aid-version] .body .page-break {
                display: none;
            }
.crossRef-1FRlZ .reference-3IQiO {
        margin: var(--spacing24) 0 0 var(--spacing10);
    }
.crossRef-1FRlZ .errorPanel-3m_e5 {
        padding: 0
    }
.crossRef-1FRlZ .errorPanel-3m_e5 > section {
            margin-top: var(--spacing32);
        }

section.disambiguationPanel-3fkBE {
    grid-row-gap: var(--spacing24);
    row-gap: var(--spacing24)
}
section.disambiguationPanel-3fkBE div p[data-aid]:not(:last-of-type) {
        padding-bottom: .65em;
    }
section.disambiguationPanel-3fkBE .annotation-1Oho8 {
        margin: .5em 0 0 .25em;
    }
section.disambiguationPanel-3fkBE .disambiguationPanelItem-2mpO8 {
        padding-bottom: var(--spacing16);
    }

.panelGridLayout-3J74n {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 10px 14px;
    font-size: var(--fontSize14);
    line-height: 1.45;
    padding: 14px;
    color: var(--text-primary, var(--black))
}
.panelGridLayout-3J74n > :nth-child(odd) {
        display: inline-block;
        grid-column: 1;
        text-align: right;
        color: var(--text-secondary, rgba(0, 0, 0, .4));
    }
.panelGridLayout-3J74n > :nth-child(even) {
        display: inline-block;
        grid-column: 2;
        min-width: 0;
        margin: 0;
    }

.footnote-3kI0m {
    padding: var(--spacing10) var(--spacing16) var(--spacing16);
    font-family: var(--sans);
    flex: 1 1;
}

.fullReference-2LE13 {
    font-size: var(--fontSize14);
    line-height: 1.57;
    margin: 0;
    pointer-events: none
}

.fullReference-2LE13 a {
        color: inherit;
    }

.reference-3xPsV {
    margin: var(--spacing24) 0 0 var(--spacing10);
}

.noContent--OQxo {
    padding: 11rem 2rem 2rem;
    text-align: center;
}

.noContentTitle-3IMqA {
    font-weight: 600;
    margin: 0.4em;
}

.noContentText-3WsLU {
    font-size: var(--fontSize14);
    line-height: 1.4;
    margin: 0;
}

.sidePanel-3uL9p {
    position: -webkit-sticky;
    position: sticky;
    height: var(--overlay-height, 100vh);
    flex: 0 0 300px;
    top: 0;
    transform: scale(1)
}

.sidePanel-3uL9p .innerPanel-3gbqC {
        border: 1px solid var(--border-primary, var(--grey3));
        border-top: none;
        background: var(--background-secondary, var(--grey2));
        width: 300px;
        display: flex;
        flex-direction: column;
        height: var(--overlay-height, 100vh);
        /* transform: scale(1); */
    }

.sidePanel-3uL9p.slideOver-2m71R {
        flex: 0 1
    }

.sidePanel-3uL9p.slideOver-2m71R .innerPanel-3gbqC {
            position: absolute;
            transform: translateX(0px);
            transition: transform 400ms cubic-bezier(.4,0,.2,1)
        }

[dir="ltr"] .sidePanel-3uL9p.slideOver-2m71R .innerPanel-3gbqC.open-vPftH {
                transform: translateX(-300px)
        }

[dir="rtl"] .sidePanel-3uL9p.slideOver-2m71R .innerPanel-3gbqC.open-vPftH {
                transform: translateX(300px)
        }

@media print {
    .sidePanel-3uL9p {
        display: none;
    }
}

.ControlBlock-3KfW7 {
    font-size: var(--fontSize13);
    text-align: left;
    text-align: initial;
    padding: var(--spacing16)
}

.ControlBlock-3KfW7 header:first-child {
        border-bottom: solid 1px var(--border-primary, var(--grey10));
        padding-bottom: var(--spacing4);
        margin-bottom: var(--spacing32);
    }

.ControlBlogMobile-2baXn {
    padding: 4px;
}

.DownloadManager-9mAB1 {
    color: var(--text-primary, var(--black));
    position: relative
}

.DownloadManager-9mAB1 .signIn-NqULA {
        margin: 10px 0 0;
    }

.DownloadManager-9mAB1 .callout-N_gAf {
        border: 1px solid var(--border-primary, var(--grey10));
        background-color: var(--background-primary, var(--white));
        position: fixed;
        top: var(--top, 13px);
        right: 4px;
        left: 4px;
        bottom: auto;
        max-width: 75vw 
    }

@media (min-width: 46em) {

.DownloadManager-9mAB1 .callout-N_gAf {
            position: absolute;
            top: calc(100% + 20px);
            right: 0;
            left: 0;
            width: 280px 
    }   
        }

[dir="ltr"] .DownloadManager-9mAB1 .callout-N_gAf {
            left: auto 
    }

[dir="rtl"] .DownloadManager-9mAB1 .callout-N_gAf {
            right: auto 
    }

.DownloadManager-9mAB1 .callout-N_gAf div > div::before {
            border-bottom-color: var(--border-primary, var(--grey10));
        }

.DownloadManager-9mAB1 .callout-N_gAf div > div::after {
            border-bottom-color: var(--background-primary, var(--white));
        }

.DownloadManagerTitle-37wiQ {
    line-height: 1.2;
    margin-right: auto;
}

.downloadLink-3aGSv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding-bottom: 2rem;
    color: var(--text-primary, var(--black))
}

.downloadLink-3aGSv:hover {
        cursor: pointer;
        text-decoration: none;
        color: var(--text-link, var(--info40));
    }

.downloadLink-3aGSv {
    svg:hover {
        text-decoration: none;
        color: var(--text-link, var(--info40));
    }
}

[dir="ltr"] .closeButton-ZIqD0 {
        margin-left: var(--spacing8)
}

[dir="rtl"] .closeButton-ZIqD0 {
        margin-right: var(--spacing8)
}

.downloadHead-3O2wO {
    display: flex;
    justify-content: space-between;
}

.tableOfContents-3u3H3 {
    position: relative;
}

.subItems-2yUxK {
    display: none;
    flex-direction: column
}

.subItems-2yUxK.open-2riJ3 {
        display: flex;
    }

.subItems-2yUxK.active-mDRbE {
        background: var(--background-primary, var(--white));
    }

[dir="ltr"] .item-3cCP7,[dir="ltr"]  .sectionTitle-27yfi,[dir="ltr"]  .bookTitle-3gJOw {
    padding-left: 0;
}

[dir="rtl"] .item-3cCP7,[dir="rtl"]  .sectionTitle-27yfi,[dir="rtl"]  .bookTitle-3gJOw {
    padding-right: 0;
}

.item-3cCP7, .sectionTitle-27yfi, .bookTitle-3gJOw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing8);
    min-height: 2.25rem;
    font-size: var(--fontSize14);
    cursor: pointer;
    line-height: var(--lineHeight);
    text-decoration: none;
    color: var(--text-primary, var(--black));
    outline: none;
    position: relative
}

[dir="ltr"] .hasQuickNav-3v1n- .item-3cCP7,[dir="ltr"]  .hasQuickNav-3v1n- .sectionTitle-27yfi,[dir="ltr"]  .hasQuickNav-3v1n- .bookTitle-3gJOw {
        padding-right: var(--spacing32);
}

[dir="rtl"] .hasQuickNav-3v1n- .item-3cCP7,[dir="rtl"]  .hasQuickNav-3v1n- .sectionTitle-27yfi,[dir="rtl"]  .hasQuickNav-3v1n- .bookTitle-3gJOw {
        padding-left: var(--spacing32);
}

.item-3cCP7 p:empty, .sectionTitle-27yfi p:empty, .bookTitle-3gJOw p:empty {
        display: none;
    }

.item-3cCP7:hover, .sectionTitle-27yfi:hover, .bookTitle-3gJOw:hover {
        text-decoration: none;
    }

.tableOfContents-3u3H3 > .subItems-2yUxK > li > .sectionTitle-27yfi, .bookTitle-3gJOw {
    min-height: 3.25rem;
    line-height: var(--lineHeightLoose);
}

.item-3cCP7:focus, .item-3cCP7:hover, .item-3cCP7:active, .sectionTitle-27yfi:focus, .sectionTitle-27yfi:hover, .sectionTitle-27yfi:active {
        background: var(--background-secondary-accent, var(--grey3))
    }

.active-mDRbE .item-3cCP7:focus, .active-mDRbE .item-3cCP7:hover, .active-mDRbE .item-3cCP7:active, .active-mDRbE .sectionTitle-27yfi:focus, .active-mDRbE .sectionTitle-27yfi:hover, .active-mDRbE .sectionTitle-27yfi:active {
            background: var(--background-secondary, var(--grey2))
    }

.item-3cCP7.active-mDRbE, .sectionTitle-27yfi.active-mDRbE {
        background: var(--background-primary, var(--white));
    }

.bookTitle-3gJOw {
    cursor: default
}

[dir="ltr"] .bookTitle-3gJOw .itemTitle-23vMm {
        padding-left: var(--spacing32);
}

[dir="rtl"] .bookTitle-3gJOw .itemTitle-23vMm {
        padding-right: var(--spacing32);
}

.bookTitle-3gJOw .itemTitle-23vMm {
        font-weight: 500;
        font-size: var(--fontSize18);
    }

.bookTitle-3gJOw:hover {
        color: var(--text-primary, var(--black));
    }

[dir="ltr"] .itemTitle-23vMm {
    padding-left: var(--spacing16);
}

[dir="rtl"] .itemTitle-23vMm {
    padding-right: var(--spacing16);
}

.itemTitle-23vMm {
    position: relative;
}

.activeMarker-1nZfq {
    width: 4px;
    background-color: var(--accent, var(--blue20));
    position: absolute;
    top: 0;
    bottom: 0;
}

[dir="ltr"] .activeMarker-1nZfq {
    left: 0;
}

[dir="rtl"] .activeMarker-1nZfq {
    right: 0;
}

.sectionTitle-27yfi .itemTitle-23vMm {
        position: static;
    }

.sectionTitle-27yfi.active-mDRbE:focus, .sectionTitle-27yfi.active-mDRbE:hover, .sectionTitle-27yfi.active-mDRbE:active {
            background: var(--background-secondary, var(--grey2));
        }

.sectionTitle-27yfi svg {
        color: var(--text-secondary, var(--grey40));
        font-size: 18px;
        position: absolute;
        top: 50%
    }

[dir="ltr"] .sectionTitle-27yfi svg {
            right: 0;
            transform: translate(-50%, -50%)
    }

[dir="rtl"] .sectionTitle-27yfi svg {
            left: 0;
            transform: translate(50%, -50%)
    }

.tableOfContents-3u3H3 > .subItems-2yUxK > li > .sectionLabel-3SXdk {
    min-height: 1.875rem;
    cursor: default;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: var(--fontSize11);
    font-weight: 700;
    padding: var(--spacing4);
    background: var(--background-secondary-accent, var(--grey3));
}

[dir="ltr"] .sectionDrawer-tnxnz .itemTitle-23vMm {
        padding-right: var(--spacing24);
}

[dir="rtl"] .sectionDrawer-tnxnz .itemTitle-23vMm {
        padding-left: var(--spacing24);
}

.pretitle-1mVXl, .titleNumber-pCxRE, .subtitle-MuO4X, .seriesTitle-2kt0I {
    font-size: var(--fontSize11);
    color: var(--text-secondary, var(--grey30));
    pointer-events: none;
}

.songNumber-j2W-3 {
    font-weight: bold
}

.songNumber-j2W-3:after {
        content: ". ";
    }

[dir="ltr"] .quickNav-2xPaG {
    padding-right: var(--spacing8);
}

[dir="rtl"] .quickNav-2xPaG {
    padding-left: var(--spacing8);
}

.quickNav-2xPaG {
    align-items: center;
    position: fixed;
    top: calc(50% + 22px);
    height: 80vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%) translate3d(0,0,0);
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;
    cursor: pointer
}

[dir="ltr"] .quickNav-2xPaG {
        right: 0
}

[dir="rtl"] .quickNav-2xPaG {
        left: 0
}

.quickNav-2xPaG li {
        align-items: center;
        display: inline-flex;
        flex: 0 1 auto;
        width: 100%;
        font-size: var(--fontSize13);
        justify-content: flex-end;
        padding: var(--spacing16) 0;
    }

div.overlay-2Nara {
    z-index: var(--zIndexHigherThanPlatform);

    background-color: var(--background-primary);
    width: 100vw;
    height: 100vh
}
@media (min-width: 46em) {
    div.overlay-2Nara {

        width: 90vw;
        height: 90vh
}
    }
div.overlay-2Nara .overlayBody-1WUai {
        display: flex;
        flex-direction: column;

        height: 100%;
    }
div.overlay-2Nara .header-34beN { 
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        padding: 12px 16px;
    }
div.overlay-2Nara .hasBorder-2HNCV {
        border: none;
        border-bottom: solid 1px var(--border-primary, var(--grey5));

    }
div.overlay-2Nara .backButton-1VBB3 {
        margin-right: auto;
    }
div.overlay-2Nara .overlayTitle-221Z- {
        font-family: var(--sans);
        font-size: var(--fontSize18);
        font-weight: 500;
    }
div.overlay-2Nara .modalControls-kGby- {
        margin-left: auto;
    }
div.overlay-2Nara .overlayContent-2g_gf {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }
div.overlay-2Nara .crossLinks-36xVJ {
        background: var(--background-secondary-accent, var(--grey3));
    }

    
.modalControls-3iwvD {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto

}

.modalControls-3iwvD .closeButton-2uvzk {
        grid-column: 2;
    }

.modalControls-3iwvD .saveButton-2THO6 {
         /* place the save/saving/saved buttons in the same grid area */
        grid-area: 1 / 1 / 1 / 1;
    }

/* .savedEnter {
    color: var(--confirmation40);
}
.savedEnter {
    color: var(--blue30);
    transition: color 3000ms ease;
} */

.save-button-enter-Nwgz4 {
    opacity: 0;
    transform: scale(0.9)

}

.save-button-enter-Nwgz4.savedButton-2GWrv {
        color: var(--confirmation40);
    }

.save-button-enter-active-2Tj_f {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.save-button-enter-done-QibFV.savedButton-2GWrv {
    color: var(--text-secondary, var(--grey20));
    transition: color 5000ms ease;

    }

.save-button-exit-31vX1 {
    opacity: 1;
}

.save-button-exit-active-2saep {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;

}

.save-button-exit-done-1tqCq {
    visibility: hidden;
}


/*# sourceMappingURL=reader-view.2.27.0.css.map*/